.avatar.proportioned {
    width: 300px;
    height: 100%;
}

.avatar.distorted {
    width: 200px;
    height: 400px;
}

.original.proportioned {
    width: auto;
    height: auto;
}

.original.distorted {
    width: auto;
    height: 200px;
}