body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    position: relative;
    background-color: rgb(170, 222, 204);
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile {
    position: absolute;
    top: -40px;
    left: 0px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid white;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #1e90ff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #1c86ee;
}
